# cache
__pycache__

# env
venv

# big data
algorithms-specialization/codes/course2_week1/SCC.txt
algorithms-specialization/codes/course2_week4/algo1-programming_prob-2sum.txt
algorithms-specialization/codes/course3_week2/clustering_big.txt